@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@mixin montserrat{font-family: 'Montserrat', sans-serif};
@mixin montserrat-dark{font-family: 'Montserrat', sans-serif; color: #ffffff};
@mixin roboto {font-family: 'Roboto', sans-serif};
@mixin roboto-dark {font-family: 'Roboto', sans-serif; color: #ffffff};

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
    border-top: 5px solid #572EE5 ;
    position: relative; // para que tome desde donde comienza .site-nav (top 100%)
    :after{
        content: '';
        clear: both;
        display: block;
    }
    .gifos-logo{
        text-decoration: none;
        margin-left: 22px;
    }
    .menu-toggle{
        .burger{   
            margin-right: 26px;
        }   
    }   
    .site-nav{
        top: 100%; //toma que empieza despues del 100% del hieght del padre(Header)
        right: 0;
        position: absolute;
        background-color: #572EE5;
        opacity: 0.9;
        width: 100%;
        height: 0;
        overflow: hidden;
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            &:first-child{
                margin-top: 32px;
            }
            li{
                margin-top: 14px;                
            }               
            .item-menu{
                text-align: center;                    
                color: #ffffff;
                @include montserrat;
                font-size: 15px;
                font-weight: bold;
                line-height: 30px;
                display: block;                   
                text-decoration: none;
            }
            .separator-line{
            width: 41px;
            opacity: 0.5;
            border: 1px solid #FFFFFF;
            margin-top: 10px;
            }            
        }
        .btn-more{
            display:none;
        }
    }// .site-nav end  
    .site-nav-open{        //no esta en html, está creada por JS
        height: 100vh;
    } 
}// header end
main{
    display: flex;
    flex-direction: column;
    align-items: center;    
    .main-container{
        display: flex;
        justify-content: center;
        margin: 4px 10.83vw 0 10.83vw;
        .camera{
            max-width: 100%;
            align-self: center;
        }
        .box-btns{
            display: flex;
            flex-direction: column;
            align-items: center;
            .box-create{
                width: 47.78vw;
                height: 60.42vh;  // !!!!! no es responsive
                border: 1px solid #572EE5;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .corners1{
                    width: 94%;
                    display: flex;
                    justify-content: space-between;
                    margin: 20px 20px 0 20px;
                    .div1{                
                        width: 25px;
                        height: 25px;
                        border-top: 1px solid #50E3C2;
                        border-left: 1px solid #50E3C2;
                    }
                    .div2{
                        width: 25px;
                        height: 25px;
                        border-top: 1px solid #50E3C2;
                        border-right: 1px solid #50E3C2;
                    }
                }
                .title-main{
                    h1{
                        text-align: center;
                        @include montserrat();
                        font-size: 25px;
                        font-weight: 700;
                        line-height: 35px;
                        color: #572EE5;
                    }
                    p{
                        text-align: center;
                        @include roboto();
                        font-size: 16px;
                        line-height: 29px;
                    }
                }       
                .corners2{
                    width: 94%;
                    display: flex;
                    justify-content: space-between;
                    margin: 0px 20px 20px 20px;
                    .div3{                
                        width: 25px;
                        height: 25px;
                        border-bottom: 1px solid #50E3C2;
                        border-left: 1px solid #50E3C2;
                    }
                    .div4{
                        width: 25px;
                        height: 25px;
                        border-bottom: 1px solid #50E3C2;
                        border-right: 1px solid #50E3C2;
                    }
                }
            }// .box-create DESKTOP END
            .btns-numbers{
                display: flex;
                margin-top: 24px;                
                .btn{
                    margin-left: 25px;
                }
            }            
        }
        .movie-tape{
            max-width: 100%;
            align-self: flex-end;
            margin-left: 4.65vw;
        }        
    }// .main-container DESKTOP END
    hr{
        width: 800px;
        height: 7px;
        background-color: #572EE5;
        margin-top: 19px;
    }
    .btn-comenzar{
        border: 1px solid #572EE5;
        border-radius: 25px;
        margin-top: 20px;
        padding: 18px 32.5px;
        text-align: center;
        text-decoration: none;
        @include montserrat;
        font-size: 13px;
        font-weight: bold;
        color: #572EE5 ;
    }    
}// main end
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 116px;
    border-bottom: 5px solid #572EE5;
    margin-top: 26px;
    .compartir-social{
        display: flex;
        .compartir{            
            font-size: 13px;
            font-weight: 500;
            @include roboto;
            align-self: center;
            margin: 0 1.18vw 0 10.83vw;
            
        }
        .social{
            display: flex;
            justify-content: space-between;
            width: 90px;
        }
    }    
    p{
        font-size: 13px;            
        font-weight: 500;
        @include roboto;
        margin-right: 10.83vw;
    }
}//footer end

/************** MEDIA QUERY 700px *************************************************/

@media screen and (min-width: 700px){
    header{
        justify-content: space-between;
        height: 90px;
        .gifos-logo{ 
            width: 59px;          
            margin-left: 10.83vw;
        }        
        .menu-toggle{
            display: none;
        }        
        .site-nav{
            width: auto;
            top: 0;
            height: auto;
            position: relative;
            background-color: transparent;
            opacity: 1;
            display: flex;      
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                &:first-child{
                    margin-top: 0;
                }              
                li{
                    margin-left: 2.77vw;
                    margin-top: 0;
                    .item-menu{
                        color: #572EE5;
                        font-size: 13px;
                        font-weight: bold;
                        line-height: 16px;
                        text-transform: uppercase;
                        &:hover{
                            text-decoration: underline 2px #5ED7C6;; 
                        }
                        &:active{
                            color: #9CAFC3;
                            text-decoration: none;
                        }                        
                    }
                }
                .separator-line{
                    display: none;
                }                               
            } 
            .btn-more{
                display: block;                                
                margin-left: 53px;
                margin-right: 10.83vw;
            }            
        }//.site-nav end               
    }// header end 
}// @media end
