/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
   :focus {
       outline: ?????;
   } */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 95px;
  border-top: 5px solid #572EE5;
  position: relative;
}

header :after {
  content: '';
  clear: both;
  display: block;
}

header .gifos-logo {
  text-decoration: none;
  margin-left: 22px;
}

header .menu-toggle .burger {
  margin-right: 26px;
}

header .site-nav {
  top: 100%;
  right: 0;
  position: absolute;
  background-color: #572EE5;
  opacity: 0.9;
  width: 100%;
  height: 0;
  overflow: hidden;
}

header .site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header .site-nav ul:first-child {
  margin-top: 32px;
}

header .site-nav ul li {
  margin-top: 14px;
}

header .site-nav ul .item-menu {
  text-align: center;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  display: block;
  text-decoration: none;
}

header .site-nav ul .separator-line {
  width: 41px;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  margin-top: 10px;
}

header .site-nav .btn-more {
  display: none;
}

header .site-nav-open {
  height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .box-create {
  width: 688px;
  height: 390px;
  border: 1px solid #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .box-create .corners1 {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 20px 0 20px;
}

main .box-create .corners1 .div1 {
  width: 25px;
  height: 25px;
  border-top: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
}

main .box-create .corners1 .div2 {
  width: 25px;
  height: 25px;
  border-top: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
}

main .box-create .title-main h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  color: #572EE5;
}

main .box-create .title-main p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 29px;
}

main .box-create .corners2 {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 20px 20px 20px;
}

main .box-create .corners2 .div3 {
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
}

main .box-create .corners2 .div4 {
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
}

footer {
  width: 100%;
  height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid #572EE5;
}

footer .compartir-social .compartir {
  font-weight: 500;
  margin-top: 47px;
  font-family: 'Roboto', sans-serif;
}

footer .compartir-social .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
  margin-top: 23px;
}

footer p {
  font-weight: 500;
  margin-top: 47.8px;
  font-family: 'Roboto', sans-serif;
}

/************** MEDIA QUERY 700px *************************************************/
@media screen and (min-width: 700px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 90px;
  }
  header .gifos-logo {
    width: 59px;
    margin-left: 10.83vw;
  }
  header .menu-toggle {
    display: none;
  }
  header .site-nav {
    width: auto;
    top: 0;
    height: auto;
    position: relative;
    background-color: transparent;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .site-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header .site-nav ul:first-child {
    margin-top: 0;
  }
  header .site-nav ul li {
    margin-left: 2.77vw;
    margin-top: 0;
  }
  header .site-nav ul li .item-menu {
    color: #572EE5;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
  }
  header .site-nav ul li .item-menu:hover {
    -webkit-text-decoration: underline 2px #5ED7C6;
            text-decoration: underline 2px #5ED7C6;
  }
  header .site-nav ul li .item-menu:active {
    color: #9CAFC3;
    text-decoration: none;
  }
  header .site-nav ul .separator-line {
    display: none;
  }
  header .site-nav .btn-more {
    display: block;
    margin-left: 53px;
    margin-right: 10.83vw;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .box-create {
    width: 688px;
    height: 390px;
    border: 1px solid #572EE5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .box-create .corners1 {
    width: 94%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 20px 0 20px;
  }
  main .box-create .corners1 .div1 {
    width: 25px;
    height: 25px;
    border-top: 1px solid #50E3C2;
    border-left: 1px solid #50E3C2;
  }
  main .box-create .corners1 .div2 {
    width: 25px;
    height: 25px;
    border-top: 1px solid #50E3C2;
    border-right: 1px solid #50E3C2;
  }
  main .box-create .title-main h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    color: #572EE5;
  }
  main .box-create .title-main p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 29px;
  }
  main .box-create .corners2 {
    width: 94%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 20px 20px 20px;
  }
  main .box-create .corners2 .div3 {
    width: 25px;
    height: 25px;
    border-bottom: 1px solid #50E3C2;
    border-left: 1px solid #50E3C2;
  }
  main .box-create .corners2 .div4 {
    width: 25px;
    height: 25px;
    border-bottom: 1px solid #50E3C2;
    border-right: 1px solid #50E3C2;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 116px;
  }
  footer .compartir-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .compartir-social .compartir {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 13px;
    margin-top: 0;
    margin: 0 1.18vw 0 10.83vw;
  }
  footer .compartir-social .social {
    margin-top: 0px;
  }
  footer p {
    font-size: 13px;
    margin-top: 0;
    margin-right: 10.97vw;
  }
}
/*# sourceMappingURL=create-gifos.css.map */