@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@mixin montserrat{font-family: 'Montserrat', sans-serif};
@mixin montserrat-dark{font-family: 'Montserrat', sans-serif; color: #ffffff};
@mixin roboto {font-family: 'Roboto', sans-serif};
@mixin roboto-dark {font-family: 'Roboto', sans-serif; color: #ffffff};

body{
    background-color: #FFFFFF;
    transition: .4s ease all; //Suaviza pase a Dark-mode
    &.dark{
        background-color: #37383C;
    }
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    border-top: 5px solid #572EE5 ;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #ffffff;
    transition: .4s ease all; //Suaviza pase a Dark-mode
    body.dark &{
        border-top:5px solid #000000;
        background-color: #37383C;
    }
    .container-logo-search{
        display:flex;
        align-items: center;
        .gifos-logo{ 
            width: 59px;
            height: 59px;          
            margin-left: 10.83vw;
            margin-right: 8.26vw;
            background-image: url(../asset/gifos_logo.svg);
            background-repeat: no-repeat;
            transition: .4s ease all; //Suaviza pase a Dark-mode 
            body.dark & {
                background-image: url(../asset/gifos_logo_noc.svg);
                background-repeat: no-repeat;
            }
        }
        .header-search{
            display: none;
            width: 23.19vw;
            height: 50px;
            border: 1px solid #572EE5;
            border-radius: 50px;
            font-size: calc(.2em + 1vw);
            padding: 15px 4.44vw 13px 3.82vw;
            @include roboto;
            background-image: url(../asset/icon-search.svg);
            background-position: right 5% top 50%; //Para que la lupa se responsive al input
            background-repeat: no-repeat;
            outline: none;
            transition: .4s ease all; //Suaviza pase a Dark-mode
            body.dark & {
                border: 1px solid #FFFFFF;
                background-color: #37383C;
                background-image: url(../asset/icon-search-modo-noct.svg);
            }
        }
        .header-search-on {   //efecto on/off en scroll del header
            display:block;                
        }            
        .header-search-off {  //efecto on/off en scroll del header
            display:none;              
        }
    } 
    .menu-toggle{
        display: none;   
    }   
    .site-nav{
        display: flex;
        margin-right: 10.83vw; 
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            li{
                margin-left: 3.47vw;                
            }
            .separator-line{
                display: none;
            }
            .item-menu{
                text-align: center;                    
                color: #572EE5;
                @include montserrat;
                font-size: 13px;
                font-weight: bold;
                line-height: 16px;
                display: block;
                text-transform: uppercase;                  
                text-decoration: none;
                cursor: pointer;
                transition: .4s ease all; //Suaviza pase a Dark-mode 
                    &:hover{
                        text-decoration: underline solid #5ED7C6;
                        text-decoration-thickness: 2px;
                        transition:none
                    }
                    &:active{
                        color: #9CAFC3;
                        text-decoration: none;
                        transition:none;
                    }
                    body.dark & {
                        @include montserrat-dark();
                        transition:none;                        
                        &:active{
                            color: #9CAFC3;
                            text-decoration: none;
                            transition:none;
                        }
                    }
            }           
        }
        
    }// .site-nav END
    .site-nav-open{        //no esta en html, está creada por JS
        height: 100vh;
    } 
}// header END
.header-enabled{ //Funcion de JS para efecto onscroll de header
    box-shadow: 0 2px 4px 1px #9CAFC350;
    transition: opacity .5s ease-in; 
    opacity: 1;
    }        
.header-off { //Funcion de JS para efecto onscroll de header
    transition: opacity 1s ease-in;        
    opacity: 0;
    &:hover{
        transition: opacity .5s ease; 
        opacity: 1; 
    }
}
.header-shadow-off{  //efecto on/off en scroll del header
    box-shadow: none;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    .main-container{
        width: 78%;
        display: flex;
        justify-content: space-evenly;
        margin: 4px 10.83vw 0 10.83vw;        
        .camera-img{
            width:12.83vw;
            height:11.5vw;
            max-width: 200%;
            align-self: center;
            background-image: url(../asset/camara.svg), url(../asset/Path-2.svg);
            background-repeat: no-repeat;
            background-position: 0, 8.8vw 1vw;
            background-size: 8.54vw, 5.8vw;
            transition: .4s ease all; //Suaviza pase a Dark-mode 
            body.dark &{
                background-image: url(../asset/camara-modo-noc.svg), url(../asset/Path-2.svg);
            }
        }
        .box-btns{
            display: flex;
            flex-direction: column;
            align-items: center;
            .box-create{
                width: 47.78vw;
                height: 28.42vw; 
                border: 1px solid #572EE5;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                body.dark & {
                    border: 1px solid #FFFFFF;
                }
                .container-corners-up{
                    width: 94%;
                    display: flex;
                    justify-content: space-between;
                    margin: 1.39vw 1.39vw 0 1.39vw;
                    .corners-up-left{                
                        width: 1.74vw;
                        height: 1.74vw;
                        border-top: 1px solid #50E3C2;
                        border-left: 1px solid #50E3C2;
                    }
                    .corners-up-right{
                        width: 1.74vw;
                        height: 1.74vw;
                        border-top: 1px solid #50E3C2;
                        border-right: 1px solid #50E3C2;
                    }
                }
                .title-main{
                    h1{
                        text-align: center;
                        @include montserrat();
                        font-size: calc(.8em + 1vw);
                        font-weight: 700;
                        line-height: 35px;
                        color: #572EE5;
                        body.dark & {
                            @include montserrat-dark();
                        }
                    }
                    p{
                        text-align: center;
                        @include roboto();
                        font-size: calc(.3em + 1vw);
                        line-height: 29px;
                        body.dark & {
                            @include montserrat-dark()
                        }
                    }
                }       
                .container-corners-down{
                    width: 94%;
                    display: flex;
                    justify-content: space-between;
                    margin: 0px 1.39vw 1.39vw 1.39vw;
                    .corners-down-left{                
                        width: 1.74vw;
                        height: 1.74vw;
                        border-bottom: 1px solid #50E3C2;
                        border-left: 1px solid #50E3C2;
                    }
                    .corners-down-right{
                        width: 1.74vw;
                        height: 1.74vw;
                        border-bottom: 1px solid #50E3C2;
                        border-right: 1px solid #50E3C2;
                    }
                }
            }// .box-create DESKTOP END
            .btns-numbers{
                display: flex;
                margin-top: 1.67vw;
                margin-bottom: 1.67vw;
                .btn-paso-1{
                    width: 2.8vw;
                    height: 2.8vw;
                    max-width: 200%;
                    background-image: url(../asset/paso-a-paso1.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 2.42vw 2.42vw;
                    transition: .4s ease all; //Suaviza pase a Dark-mode
                    &:hover{
                        background-image: url(../asset/paso-a-paso-hover1.svg);                        
                    }
                    body.dark &{
                        background-image: url(../asset/paso-a-paso-1-mod-noc.svg);
                        &:hover{
                            background-image: url(../asset/paso-a-paso-n1-hover-mod-noc.svg);
                        }
                    }
                }
                .btn-paso-2{
                    width: 2.8vw;
                    height: 2.8vw;
                    max-width: 200%;
                    margin-left: 1.74vw;
                    background-image: url(../asset/paso-a-paso2.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 2.42vw 2.42vw;
                    transition: .4s ease all; //Suaviza pase a Dark-mode
                    &:hover{
                        background-image: url(../asset/paso-a-paso-hover2.svg);
                    }
                    body.dark &{
                        background-image: url(../asset/paso-a-paso-2-mod-noc.svg);
                        &:hover{
                            background-image: url(../asset/paso-a-paso-n2-hover-mod-noc.svg);
                        }
                    }
                }
                .btn-paso-3{
                    width: 2.8vw;
                    height: 2.8vw;
                    max-width: 200%;
                    margin-left: 1.74vw;
                    background-image: url(../asset/paso-a-paso3.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 2.42vw 2.42vw;
                    transition: .4s ease all; //Suaviza pase a Dark-mode
                    &:hover{
                        background-image: url(../asset/paso-a-paso-hover3.svg);
                    }
                    body.dark &{
                        background-image: url(../asset/paso-a-paso-3-mod-noc.svg);
                        &:hover{
                            background-image: url(../asset/paso-a-paso-n3-hover-mod-noc.svg);
                        }
                    }
                }
            }            
        }
        .movie-tape-img{
            width: 8.86vw;
            height: 5.5vw;
            max-width: 200%;
            align-self:flex-end;
            margin-left: 4.65vw;
            background-image: url(../asset/pelicula.svg);
            background-repeat: no-repeat;
            background-size: 8.86vw;
            transition: .4s ease all; //Suaviza pase a Dark-mode 
            body.dark &{
                background-image: url(../asset/pelicula-modo-noc.svg);
            }
        }        
    }// .main-container END
    .line{
        width: 55.55vw;
        height: 7px;
        border-radius: 25px;
        background-color: #572EE5;
        transition: .4s ease all; //Suaviza pase a Dark-mode 
        body.dark & {
            background-color: #9CAFC350;           
        }
    }
    .btn-comenzar{
        border: 1px solid #572EE5;
        border-radius: 25px;
        margin-top: 20px;
        padding: 18px 32.5px;
        text-align: center;
        text-decoration: none;
        @include montserrat;
        font-size: 13px;
        font-weight: bold;
        color: #572EE5 ;
        transition: .4s ease all; //Suaviza pase a Dark-mode
        &:hover{
            border: 1px solid #562ee583;
            color: #FFFFFF;
            background-color: #572EE5;
            box-shadow: 0 4px 10px 0 #a1a1a1, 3px 4px 10px 0 #a1a1a1;
        }
        &:active{
            box-shadow: none;
        }
        body.dark & {
            @include montserrat-dark();
            border: 1px solid #FFFFFF;
            &:hover{
                color: #000000;
                background-color: #FFFFFF;
                box-shadow: 0 4px 10px 0 #575656, 3px 4px 10px 0 #575656;
            }
            &:active{
                box-shadow: none;
            }
        }
    }    
}// main END
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 116px;
    border-bottom: 5px solid #572EE5;
    margin-top: 26px;
    transition: .4s ease all; //Suaviza pase a Dark-mode
    body.dark & {        
        border-bottom: 5px solid #000000;
    }
    .compartir-social{
        display: flex;
        .compartir{            
            font-size: 13px;
            font-weight: 500;
            @include roboto;
            align-self: center;
            margin: 0 1.18vw 0 10.83vw;
            transition: .4s ease all; //Suaviza pase a Dark-mode
            body.dark & {
                @include roboto-dark()
            }
            
        }
        .social{
            display: flex;
            justify-content: space-between;
            width: 90px;
        }
    }    
    p{
        font-size: 13px;            
        font-weight: 500;
        @include roboto;
        margin-right: 10.83vw;
        transition: .4s ease all; //Suaviza pase a Dark-mode
        body.dark & {
            @include roboto-dark()
        }
    }
}//footer END

/************** MEDIA QUERY 600px *************************************************/

@media screen and (max-width: 600px){
    .header-search{
        display: none;
    }
    .title-main{
        p{
            display: none;
        }
    }
    .btns-numbers{
        .btn{
            width: 25px;
        }        
    }
}
