/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE: WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

button {
  padding: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
    outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark {
  background-color: #37383C;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border-top: 5px solid #572EE5;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #ffffff;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark header {
  border-top: 5px solid #000000;
  background-color: #37383C;
}

header .container-logo-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-logo-search .gifos-logo {
  width: 59px;
  height: 59px;
  margin-left: 10.83vw;
  margin-right: 8.26vw;
  background-image: url(../asset/gifos_logo.svg);
  background-repeat: no-repeat;
}

header .container-logo-search .gifos-logo:hover {
  background-image: url(../asset/gifos_logo_hover.svg);
}

body.dark header .container-logo-search .gifos-logo {
  background-image: url(../asset/gifos_logo_noc.svg);
  background-repeat: no-repeat;
}

body.dark header .container-logo-search .gifos-logo:hover {
  background-image: url(../asset/gifos_logo_noc_hover.svg);
}

header .container-logo-search .header-search {
  display: none;
  width: 23.19vw;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 50px;
  font-size: calc(.2em + 1vw);
  padding: 15px 4.44vw 13px 3.82vw;
  font-family: 'Roboto', sans-serif;
  background-image: url(../asset/icon-search.svg);
  background-position: right 5% top 50%;
  background-repeat: no-repeat;
  outline: none;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark header .container-logo-search .header-search {
  border: 1px solid #FFFFFF;
  background-color: #37383C;
  background-image: url(../asset/icon-search-modo-noct.svg);
}

header .container-logo-search .header-search-on {
  display: block;
}

header .container-logo-search .header-search-off {
  display: none;
}

header .menu-toggle {
  display: none;
}

header .site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10.83vw;
}

header .site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header .site-nav ul li {
  margin-left: 3.47vw;
}

header .site-nav ul .separator-line {
  display: none;
}

header .site-nav ul .item-menu {
  text-align: center;
  color: #572EE5;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

header .site-nav ul .item-menu:hover {
  -webkit-text-decoration: underline solid #5ED7C6;
          text-decoration: underline solid #5ED7C6;
  text-decoration-thickness: 2px;
  -webkit-transition: none;
  transition: none;
}

header .site-nav ul .item-menu:active {
  color: #9CAFC3;
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
}

body.dark header .site-nav ul .item-menu {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  -webkit-transition: none;
  transition: none;
}

body.dark header .site-nav ul .item-menu:active {
  color: #9CAFC3;
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
}

header .site-nav-open {
  height: 100vh;
}

.header-enabled {
  -webkit-box-shadow: 0 2px 4px 1px #9CAFC350;
          box-shadow: 0 2px 4px 1px #9CAFC350;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  opacity: 1;
}

.header-off {
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  opacity: 0;
}

.header-off:hover {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 1;
}

.header-shadow-off {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-container {
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 4px 10.83vw 0 10.83vw;
}

main .main-container .camera-img {
  width: 8.6vw;
  height: 11.5vw;
  max-width: 200%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: url(../asset/camara.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 8.54vw, 5.8vw;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .main-container .camera-img {
  background-image: url(../asset/camara-modo-noc.svg);
}

main .main-container .projection-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(22%, rgba(136, 243, 226, 0)), to(#50e3c2));
  background-image: linear-gradient(270deg, rgba(136, 243, 226, 0) 22%, #50e3c2 100%);
  -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 62%);
          clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 62%);
  width: 5.8vw;
  height: 12vw;
  -webkit-animation: mymove 0.15s infinite;
          animation: mymove 0.15s infinite;
}

@-webkit-keyframes mymove {
  from {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(22%, rgba(136, 243, 226, 0)), to(#50e3c2));
    background-image: linear-gradient(270deg, rgba(136, 243, 226, 0) 22%, #50e3c2 100%);
  }
  to {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(136, 243, 226, 0)), to(#50e3c2));
    background-image: linear-gradient(270deg, rgba(136, 243, 226, 0) 0%, #50e3c2 100%);
  }
}

@keyframes mymove {
  from {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(22%, rgba(136, 243, 226, 0)), to(#50e3c2));
    background-image: linear-gradient(270deg, rgba(136, 243, 226, 0) 22%, #50e3c2 100%);
  }
  to {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(136, 243, 226, 0)), to(#50e3c2));
    background-image: linear-gradient(270deg, rgba(136, 243, 226, 0) 0%, #50e3c2 100%);
  }
}

main .main-container .box-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-container .box-btns .box-create {
  width: 47.78vw;
  height: 28.42vw;
  border: 1px solid #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark main .main-container .box-btns .box-create {
  border: 1px solid #FFFFFF;
}

main .main-container .box-btns .box-create .container-corners-up {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.39vw 1.39vw 0 1.39vw;
}

main .main-container .box-btns .box-create .container-corners-up .corners-up-left {
  width: 1.74vw;
  height: 1.74vw;
  border-top: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
}

main .main-container .box-btns .box-create .container-corners-up .corners-up-right {
  width: 1.74vw;
  height: 1.74vw;
  border-top: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
}

main .main-container .box-btns .box-create .title-main h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(.8em + 1vw);
  font-weight: 700;
  line-height: 35px;
  color: #572EE5;
}

body.dark main .main-container .box-btns .box-create .title-main h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

main .main-container .box-btns .box-create .title-main p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: calc(.3em + 1vw);
  line-height: 29px;
}

body.dark main .main-container .box-btns .box-create .title-main p {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

main .main-container .box-btns .box-create .container-corners-down {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 1.39vw 1.39vw 1.39vw;
}

main .main-container .box-btns .box-create .container-corners-down .corners-down-left {
  width: 1.74vw;
  height: 1.74vw;
  border-bottom: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
}

main .main-container .box-btns .box-create .container-corners-down .corners-down-right {
  width: 1.74vw;
  height: 1.74vw;
  border-bottom: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
}

main .main-container .box-btns .btns-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.67vw;
  margin-bottom: 1.67vw;
}

main .main-container .box-btns .btns-numbers .btn-paso-1 {
  width: 2.8vw;
  height: 2.8vw;
  max-width: 200%;
  background-image: url(../asset/paso-a-paso1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2.42vw 2.42vw;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

main .main-container .box-btns .btns-numbers .btn-paso-1:hover {
  background-image: url(../asset/paso-a-paso-hover1.svg);
}

body.dark main .main-container .box-btns .btns-numbers .btn-paso-1 {
  background-image: url(../asset/paso-a-paso-1-mod-noc.svg);
}

body.dark main .main-container .box-btns .btns-numbers .btn-paso-1:hover {
  background-image: url(../asset/paso-a-paso-n1-hover-mod-noc.svg);
}

main .main-container .box-btns .btns-numbers .btn-paso-2 {
  width: 2.8vw;
  height: 2.8vw;
  max-width: 200%;
  margin-left: 1.74vw;
  background-image: url(../asset/paso-a-paso2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2.42vw 2.42vw;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

main .main-container .box-btns .btns-numbers .btn-paso-2:hover {
  background-image: url(../asset/paso-a-paso-hover2.svg);
}

body.dark main .main-container .box-btns .btns-numbers .btn-paso-2 {
  background-image: url(../asset/paso-a-paso-2-mod-noc.svg);
}

body.dark main .main-container .box-btns .btns-numbers .btn-paso-2:hover {
  background-image: url(../asset/paso-a-paso-n2-hover-mod-noc.svg);
}

main .main-container .box-btns .btns-numbers .btn-paso-3 {
  width: 2.8vw;
  height: 2.8vw;
  max-width: 200%;
  margin-left: 1.74vw;
  background-image: url(../asset/paso-a-paso3.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2.42vw 2.42vw;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

main .main-container .box-btns .btns-numbers .btn-paso-3:hover {
  background-image: url(../asset/paso-a-paso-hover3.svg);
}

body.dark main .main-container .box-btns .btns-numbers .btn-paso-3 {
  background-image: url(../asset/paso-a-paso-3-mod-noc.svg);
}

body.dark main .main-container .box-btns .btns-numbers .btn-paso-3:hover {
  background-image: url(../asset/paso-a-paso-n3-hover-mod-noc.svg);
}

main .main-container .movie-tape-img {
  width: 8.86vw;
  height: 5.5vw;
  max-width: 200%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 5.8vw;
  background-image: url(../asset/pelicula.svg);
  background-repeat: no-repeat;
  background-size: 8.86vw;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .main-container .movie-tape-img {
  background-image: url(../asset/pelicula-modo-noc.svg);
}

main .line {
  width: 55.55vw;
  height: 7px;
  border-radius: 25px;
  background-color: #572EE5;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .line {
  background-color: #9CAFC350;
}

main .btn-comenzar {
  border: 1px solid #572EE5;
  border-radius: 25px;
  margin-top: 20px;
  padding: 18px 32.5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #572EE5;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

main .btn-comenzar:hover {
  border: 1px solid #562ee583;
  color: #FFFFFF;
  background-color: #572EE5;
  -webkit-box-shadow: 0 4px 10px 0 #a1a1a1, 3px 4px 10px 0 #a1a1a1;
          box-shadow: 0 4px 10px 0 #a1a1a1, 3px 4px 10px 0 #a1a1a1;
}

main .btn-comenzar:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.dark main .btn-comenzar {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  border: 1px solid #FFFFFF;
}

body.dark main .btn-comenzar:hover {
  color: #000000;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 4px 10px 0 #575656, 3px 4px 10px 0 #575656;
          box-shadow: 0 4px 10px 0 #575656, 3px 4px 10px 0 #575656;
}

body.dark main .btn-comenzar:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 116px;
  border-bottom: 5px solid #572EE5;
  margin-top: 26px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark footer {
  border-bottom: 5px solid #000000;
}

footer .compartir-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .compartir-social .compartir {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 1.18vw 0 10.83vw;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark footer .compartir-social .compartir {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

footer .compartir-social .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
}

footer p {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-right: 10.83vw;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark footer p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

/************** MEDIA QUERY 600px *************************************************/
@media screen and (max-width: 600px) {
  .header-search {
    display: none;
  }
  .title-main p {
    display: none;
  }
  .btns-numbers .btn {
    width: 25px;
  }
}
/*# sourceMappingURL=create-gifos.css.map */