@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@mixin montserrat{font-family: 'Montserrat', sans-serif};
@mixin montserrat-dark{font-family: 'Montserrat', sans-serif; color: #ffffff};
@mixin roboto {font-family: 'Roboto', sans-serif};
@mixin roboto-dark {font-family: 'Roboto', sans-serif; color: #ffffff};

body{
    background-color: #37383C;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
    border-top: 5px solid #000000 ;
    position: relative; // para que tome desde donde comienza .site-nav (top 100%)
    :after{
        content: '';
        clear: both;
        display: block;
    }
    .gifos-logo{
        margin-left: 22px;
    }
    .menu-toggle{
        .burger{   
            margin-right: 26px;
        }   
    }   
    .site-nav{
        top: 100%; //toma que empieza despues del 100% del hieght del padre(Header)
        right: 0;
        position: absolute;
        background-color: #572EE5;
        opacity: 0.9;
        width: 100%;
        height: 0;
        overflow: hidden;
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            &:first-child{
                margin-top: 32px;
            }
            li{
                margin-top: 14px;                
            }               
            .item-menu{
                text-align: center;                    
                color: #ffffff;
                @include montserrat;
                font-size: 15px;
                font-weight: bold;
                line-height: 30px;
                display: block;                   
                text-decoration: none;
            }
            .separator-line{
            width: 41px;
            opacity: 0.5;
            border: 1px solid #FFFFFF;
            margin-top: 10px;
            }            
        }// ul end
        .btn-more{
            display:none;
        }
    }// .site-nav end  
    .site-nav-open{        //no esta en html, está creada por JS
        height: 100vh;
    } 
}// header end
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    .main-title-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        .main-title{
            font-size: 25px;
            margin: 0 45px 0 45px;
            @include montserrat-dark();
            font-weight: 700;
            text-align: center;
            line-height: 33px;
            span{
                color: #50E3C2;
            }
        }
        .main-img{
            margin-top: 31px;
            width: 273px;
        }
        .search{
            input{
                width: 334px;
                height: 50px;
                border: 1px solid #ffffff;
                border-radius: 50px;
                font-size: 16px;
                padding: 15px 64px 13px 55px;
                @include roboto;
                background-image: url(../asset/icon-search-modo-noct.svg);
                background-position: 294px 15px;
                background-repeat: no-repeat;
                background-color: #37383C;
            }
        }// .search end       
    }// main-title-img end
    .section-trending{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 31px;
        .p-trending{
            text-align: center;
            font-weight: 700;
            @include montserrat-dark();
            font-size: 16px;
        }
        p{
            text-align: center;
            width: 225px;
            margin-top: 2px;
            font-size: 14px;
            font-weight:500;
            @include montserrat-dark();
            line-height: 25px;
        }        
    }
    .trending-gifos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 430px;
        margin-top: 45px;
        background: #222326;
        h2{            
            @include montserrat-dark();
            font-size: 20px;
            font-weight: bold;
            margin-top: 46px;
            line-height: 60px;
        }
        p{
            width: 200px;
            font-weight: 400;
            @include roboto-dark();
            line-height: 23px;
            text-align: center;
            margin-top: 7px;
        }
        .carousel{
            width: 100%;
            overflow: hidden;
            margin-left: 22px;
            margin-top: 32px;
            .left-arrow{
                display: none;
            }
            .grid{                
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 5.86vw;
                .img-carousel{
                    .gif-pet{
                        width: 243px;
                        height: 187px;
                    }
                    .transition{
                        display: none;
                    }
                }
            }
            .right-arrow{
                display: none;
            }
        }// .carousel end        
    }// .trending-gifos end       
}//main end
footer{
    width: 100%;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid #000000;
    .compartir-social{
        .compartir{
            font-size: 15px;
            font-weight: 400;
            margin-top: 47px;
            @include roboto-dark();
        }
        .social{
            display: flex;
            justify-content: space-between;
            width: 90px;
            margin-top: 23px;
        }           
    }
    p{
        font-size: 14px;
        font-weight: 400;
        margin-top: 47.8px;
        @include roboto-dark();
    }    
}//footer end
/************** MEDIA QUERY 700px ************************************************/

@media screen and (min-width: 700px){
    header{
        justify-content: space-between;
        height: 90px;
        .gifos-logo{ 
            width: 59px;          
            margin-left: 10.83vw;
        }        
        .menu-toggle{
            display: none;
        }        
        .site-nav{
            width: auto;
            top: 0;
            height: auto;
            position: relative;
            background-color: transparent;
            opacity: 1;
            display: flex;      
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                &:first-child{
                    margin-top: 0;
                }              
                li{
                    margin-left: 2.77vw;
                    margin-top: 0;
                    .item-menu{
                        color: #ffffff;
                        font-size: 13px;
                        font-weight: bold;
                        line-height: 16px;
                        text-transform: uppercase;                        
                    }
                }
                .separator-line{
                    display: none;
                }                               
            } 
            .btn-more{
                display:block;
                margin-left: 53px;
                margin-right: 10.83vw;
            }            
        }//.site-nav end               
    }// header end
    main{
        margin-top: 76px;
        .main-title-img{
            .main-title{
                width: 630px;
                margin: 0;
                font-size: 35px;
                line-height: 50px;
            }
            .main-img{
                width: 399px;
                height: 190px;
            }
            .search{
                input{
                    width: 551px;
                    height: 50px;
                    background-position: 511px 15px;
                }
            }    
        }// .main-title-img end
        .section-trending{
            margin-top: 73px;
            .p-trending{                
                font-size: 18px;
            }
            p{
                width: auto;
                font-size: 16px;
                font-weight: 500;
                margin-top: 7px;
            }
        }
        .trending-gifos{
            height: 640px;
            margin-top: 95px;
            h2{
                font-size: 30px;
                margin-top: 67px;
            }
            p{
                width: auto;
                font-size: 18px;
                margin-top: 12px;
            }
            .carousel{
                display: flex;
                align-content: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 53px;
                .left-arrow{
                    display: block;
                    margin-left: 7vw;
                }
                .grid{
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 2vw;
                    margin: 0 1.60vw 0 1.60vw;
                    .img-carousel{
                        position: relative;
                        &:hover{
                            .transition{
                                height: 100%;
                                transition: 0.4s ease-in-out;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                .icon-content{
                                    margin-top: 10px;
                                    transition: .3s ease;
                                    display: flex;
                                    justify-content: flex-end;
                                    .icon{
                                        height: 32px;
                                        margin-right: 10px;
                                        transition: .3s ease;
                                    }
                                }                
                                .text-content{
                                    .user{
                                        color: #FFFFFF;
                                        @include roboto();
                                        font-size: 15px;
                                        font-weight: 400;
                                        text-transform:none ;
                                        margin-left: 18px;
                                        text-align: left;
                                        transition: .3s ease .1s;
                                    }
                                    .titulo{
                                        color: #FFFFFF;
                                        @include roboto();
                                        font-size: 16px;
                                        margin: 6px 0 51px 1.25vw;
                                        text-align: left;
                                        font-weight: 600;
                                        transition: .3s ease .1s;
                                    }
                                }                                                               
                            }// .transition end
                        }// &:hover end
                        .gif-pet{
                            width: 100%;
                            height: 100%;
                            max-width: 100%;
                        }
                        .transition{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 0; 
                            background: #572EE5;
                            opacity: 0.7;
                            z-index: 2;
                            .icon-content{
                                .icon{
                                    height: 0;
                                }
                            }
                            .text-content{
                                .user{
                                    font-size: 0px;
                                }
                                .titulo{
                                    font-size: 0px;;
                                }
                            }                                                        
                        }
                    }// .img-carousel end
                }// .grid end
                .right-arrow{
                    display: block;
                    margin-right: 7vw;
                }                
            }// .carousel end           
        }// .trending-gifos end   
    }// main end
    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 116px;
        .compartir-social{
            display: flex;
            .compartir{
                align-self: center;
                font-size: 13px;
                margin-top: 0;
                margin: 0 1.18vw 0 10.83vw;
            }
            .social{
                margin-top: 0px;
            }            
        }
        p{
            font-size: 13px;
            margin-top: 0;
            margin-right: 10.97vw;
        }
    }
}// @media end