/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
   :focus {
       outline: ?????;
   } */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #FFFFFF;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark {
  background-color: #37383C;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 95px;
  border-top: 5px solid #572EE5;
  position: relative;
}

header :after {
  content: '';
  clear: both;
  display: block;
}

body.dark header {
  border-top: 5px solid #000000;
}

header .container-logo-search .gifos-logo {
  width: 49px;
  height: 49px;
  margin-left: 22px;
  background-image: url(../asset/gifos_logo.svg);
  background-repeat: no-repeat;
}

body.dark header .container-logo-search .gifos-logo {
  background-image: url(../asset/gifos_logo_noc.svg);
  background-repeat: no-repeat;
}

header .container-logo-search .header-search {
  display: none;
}

header .menu-toggle .burger {
  margin-right: 26px;
}

header .site-nav {
  top: 100%;
  right: 0;
  position: absolute;
  background-color: #572EE5;
  opacity: 0.9;
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark header .site-nav {
  background-color: #000000;
}

header .site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header .site-nav ul:first-child {
  margin-top: 32px;
}

header .site-nav ul li {
  margin-top: 14px;
}

header .site-nav ul .item-menu {
  text-align: center;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

header .site-nav ul .separator-line {
  width: 41px;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  margin-top: 10px;
}

header .site-nav .btn-create-gifos {
  display: none;
}

header .site-nav-open {
  height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

main .favorite {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .favorite .heart-icon {
  width: 28px;
}

main .favorite h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #572EE5;
  line-height: 40px;
  margin-top: 5px;
}

body.dark main .favorite h2 {
  color: #FFFFFF;
}

main .favorite .grid-favorites {
  margin: 46px 21px 0 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5.86vw;
}

main .favorite .grid-favorites .gif-transition .gif {
  width: 100%;
  height: 100%;
}

main .favorite .grid-favorites .gif-transition .transition .icon-content {
  display: none;
}

main .favorite .grid-favorites .gif-transition .transition .text-content {
  display: none;
}

main .favorite .btn-mas {
  border: 1px solid #572EE5;
  border-radius: 25px;
  margin-top: 78px;
  padding: 18px 32.5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #572EE5;
}

body.dark main .favorite .btn-mas {
  border: 1px solid #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  color: #FFFFFF;
}

main .trending-gifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 430px;
  margin-top: 94px;
  background: #F3F5F8;
  overflow: hidden;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .trending-gifos {
  background-color: #222326;
}

main .trending-gifos h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #572EE5;
  margin-top: 46px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .trending-gifos h2 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

main .trending-gifos p {
  width: 200px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 23px;
  text-align: center;
  margin-top: 7px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .trending-gifos p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

main .trending-gifos .carousel {
  width: 100%;
  margin-left: 22px;
  margin-top: 32px;
}

main .trending-gifos .carousel .left-arrow {
  display: none;
}

main .trending-gifos .carousel .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 5.86vw;
}

main .trending-gifos .carousel .grid .gif-grid .gif {
  width: 243px;
  height: 187px;
}

main .trending-gifos .carousel .grid .gif-grid .transition .icon-content {
  display: none;
}

main .trending-gifos .carousel .grid .gif-grid .transition .text-content {
  display: none;
}

main .trending-gifos .carousel .right-arrow {
  display: none;
}

footer {
  width: 100%;
  height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid #572EE5;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark footer {
  border-bottom: 5px solid #000000;
}

footer .compartir-social .compartir {
  font-weight: 500;
  margin-top: 47px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark footer .compartir-social .compartir {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

footer .compartir-social .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
  margin-top: 23px;
}

footer p {
  font-weight: 500;
  margin-top: 47.8px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark footer p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

/************** MEDIA QUERY 700px *************************************************/
@media screen and (min-width: 700px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #ffffff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 90px;
    -webkit-box-shadow: 0 2px 4px 1px #9CAFC350;
            box-shadow: 0 2px 4px 1px #9CAFC350;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
  }
  body.dark header {
    background-color: #37383C;
  }
  header .container-logo-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container-logo-search .gifos-logo {
    width: 59px;
    height: 59px;
    margin-left: 10.83vw;
    margin-right: 8.26vw;
    background-image: url(../asset/gifos_logo.svg);
    background-repeat: no-repeat;
  }
  body.dark header .container-logo-search .gifos-logo {
    background-image: url(../asset/gifos_logo_noc.svg);
    background-repeat: no-repeat;
  }
  header .container-logo-search .header-search {
    display: none;
    width: 23.19vw;
    height: 50px;
    border: 1px solid #572EE5;
    border-radius: 50px;
    font-size: calc(.2em + 1vw);
    padding: 15px 4.44vw 13px 3.82vw;
    font-family: 'Roboto', sans-serif;
    background-image: url(../asset/icon-search.svg);
    background-position: right 5% top 50%;
    background-repeat: no-repeat;
    outline: none;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
  }
  body.dark header .container-logo-search .header-search {
    border: 1px solid #FFFFFF;
    background-color: #37383C;
    background-image: url(../asset/icon-search-modo-noct.svg);
  }
  header .container-logo-search .header-search-on {
    display: block;
  }
  header .container-logo-search .header-search-off {
    display: none;
  }
  header .menu-toggle {
    display: none;
  }
  header .site-nav {
    width: auto;
    top: 0;
    height: auto;
    position: relative;
    background-color: #FFFFFF;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body.dark header .site-nav {
    background-color: #37383C;
  }
  header .site-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header .site-nav ul:first-child {
    margin-top: 0;
  }
  header .site-nav ul li {
    margin-left: 3.47vw;
    margin-top: 0;
  }
  header .site-nav ul .margin-on {
    margin-right: 10.83vw;
  }
  header .site-nav ul .margin-off {
    margin-right: none;
  }
  header .site-nav ul .item-menu {
    color: #572EE5;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
  }
  header .site-nav ul .item-menu:hover {
    -webkit-text-decoration: underline solid #5ED7C6;
            text-decoration: underline solid #5ED7C6;
    text-decoration-thickness: 2px;
    -webkit-transition: none;
    transition: none;
  }
  header .site-nav ul .item-menu:active {
    color: #9CAFC3;
    text-decoration: none;
    -webkit-transition: none;
    transition: none;
  }
  body.dark header .site-nav ul .item-menu {
    color: #FFFFFF;
    -webkit-transition: none;
    transition: none;
  }
  header .site-nav ul .item-menu:active {
    color: #9CAFC3;
    text-decoration: none;
    -webkit-transition: none;
    transition: none;
  }
  header .site-nav ul .separator-line {
    display: none;
  }
  header .site-nav .btn-create-gifos {
    margin-left: 3.68vw;
    margin-right: 10.83vw;
    width: 54px;
    height: 54px;
    display: block;
    background-image: url(../asset/button-crear-gifo.svg);
    background-repeat: no-repeat;
  }
  header .site-nav .btn-create-gifos:hover {
    background-image: url(../asset/CTA-crear-gifo-hover.svg);
  }
  header .site-nav .btn-create-gifos:active {
    background-image: url(../asset/CTA-crear-gifo-active.svg);
  }
  body.dark header .site-nav .btn-create-gifos {
    background-image: url(../asset/CTA-crear-gifo-modo-noc.svg);
  }
  body.dark header .site-nav .btn-create-gifos:hover {
    background-image: url(../asset/CTA-crear-gifo-hover-modo-noc.svg);
  }
  body.dark header .site-nav .btn-create-gifos:active {
    background-image: url(../asset/CTA-crear-gifo-active-modo-noc.svg);
  }
  header .site-nav .btn-create-gifos-on {
    display: block;
  }
  header .site-nav .btn-create-gifos-off {
    display: none;
  }
  header .margin-on {
    margin-right: 10.83vw;
  }
  header .margin-off {
    margin-right: none;
  }
  .header-enabled {
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
    opacity: 1;
  }
  .header-off {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    opacity: 0;
  }
  .header-off:hover {
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    opacity: 1;
  }
  .header-shadow-on {
    -webkit-box-shadow: 0 2px 4px 1px #9CAFC350;
            box-shadow: 0 2px 4px 1px #9CAFC350;
  }
  .header-shadow-off {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  main {
    margin-top: 11px;
  }
  main .favorite {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  main .favorite h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #572EE5;
    line-height: 40px;
    margin-top: 8px;
  }
  main .favorite .grid-favorites {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -webkit-column-gap: 29px;
            column-gap: 29px;
    row-gap: 25px;
    margin: 36px 10.76vw 0 10.76vw;
  }
  main .favorite .grid-favorites .gif-transition {
    position: relative;
  }
  main .favorite .grid-favorites .gif-transition:hover .transition {
    height: 100%;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .favorite .grid-favorites .gif-transition:hover .transition .icon-content {
    margin-top: 10px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main .favorite .grid-favorites .gif-transition:hover .transition .icon-content .icon {
    height: 32px;
    margin-right: 10px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  main .favorite .grid-favorites .gif-transition:hover .transition .text-content .user {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    margin-left: 18px;
    text-align: left;
    -webkit-transition: .3s ease .1s;
    transition: .3s ease .1s;
  }
  main .favorite .grid-favorites .gif-transition:hover .transition .text-content .titulo {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 6px 0 51px 1.25vw;
    text-align: left;
    font-weight: 600;
    -webkit-transition: .3s ease .1s;
    transition: .3s ease .1s;
  }
  main .favorite .grid-favorites .gif-transition .gif {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  main .favorite .grid-favorites .gif-transition .transition {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    background: #572EE5;
    opacity: 0.7;
    z-index: 2;
  }
  main .favorite .grid-favorites .gif-transition .transition .icon-content {
    display: block;
  }
  main .favorite .grid-favorites .gif-transition .transition .icon-content .icon {
    height: 0;
  }
  main .favorite .grid-favorites .gif-transition .transition .text-content {
    display: block;
  }
  main .favorite .grid-favorites .gif-transition .transition .text-content .user {
    font-size: 0px;
  }
  main .favorite .grid-favorites .gif-transition .transition .text-content .titulo {
    font-size: 0px;
  }
  main .favorite .btn-mas {
    border: 1px solid #572EE5;
    border-radius: 25px;
    margin-top: 78px;
    padding: 18px 32.5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #572EE5;
  }
  main .favorite .btn-mas:hover {
    border: 1px solid #562ee583;
    color: #FFFFFF;
    background-color: #572EE5;
    -webkit-box-shadow: 0 4px 10px 0 #a1a1a1, 3px 4px 10px 0 #a1a1a1;
            box-shadow: 0 4px 10px 0 #a1a1a1, 3px 4px 10px 0 #a1a1a1;
  }
  main .favorite .btn-mas:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body.dark main .favorite .btn-mas {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    border: 1px solid #FFFFFF;
  }
  body.dark main .favorite .btn-mas:hover {
    color: #000000;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 4px 10px 0 #575656, 3px 4px 10px 0 #575656;
            box-shadow: 0 4px 10px 0 #575656, 3px 4px 10px 0 #575656;
  }
  body.dark main .favorite .btn-mas:active {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  main .trending-gifos {
    height: 640px;
    margin-top: 79px;
  }
  main .trending-gifos h2 {
    font-size: 25px;
    margin-top: 67px;
  }
  main .trending-gifos p {
    width: auto;
    font-size: 18px;
    margin-top: 12px;
  }
  main .trending-gifos .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-top: 53px;
  }
  main .trending-gifos .carousel .left-arrow {
    width: 55px;
    height: 40px;
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 7vw;
    background-image: url(../asset/button-slider-left.svg);
    background-repeat: no-repeat;
  }
  main .trending-gifos .carousel .left-arrow:hover {
    background-image: url(../asset/button-slider-left-hover.svg);
  }
  body.dark main .trending-gifos .carousel .left-arrow {
    background-image: url(../asset/button-slider-left-md-noct.svg);
  }
  body.dark main .trending-gifos .carousel .left-arrow:hover {
    background-image: url(../asset/button-slider-left-md-noct-hover.svg);
  }
  main .trending-gifos .carousel .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    margin: 0 1.60vw 0 1.60vw;
  }
  main .trending-gifos .carousel .grid .gif-grid {
    position: relative;
  }
  main .trending-gifos .carousel .grid .gif-grid:hover .transition {
    height: 100%;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .trending-gifos .carousel .grid .gif-grid:hover .transition .icon-content {
    margin-top: 10px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  main .trending-gifos .carousel .grid .gif-grid:hover .transition .icon-content .icon {
    height: 32px;
    margin-right: 10px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  main .trending-gifos .carousel .grid .gif-grid:hover .transition .text-content .user {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    margin-left: 18px;
    text-align: left;
    -webkit-transition: .3s ease .1s;
    transition: .3s ease .1s;
  }
  main .trending-gifos .carousel .grid .gif-grid:hover .transition .text-content .titulo {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 6px 0 51px 1.25vw;
    text-align: left;
    font-weight: 600;
    -webkit-transition: .3s ease .1s;
    transition: .3s ease .1s;
  }
  main .trending-gifos .carousel .grid .gif-grid .gif {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  main .trending-gifos .carousel .grid .gif-grid .transition {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    background: #572EE5;
    opacity: 0.7;
    z-index: 2;
  }
  main .trending-gifos .carousel .grid .gif-grid .transition .icon-content {
    display: block;
  }
  main .trending-gifos .carousel .grid .gif-grid .transition .icon-content .icon {
    height: 0;
  }
  main .trending-gifos .carousel .grid .gif-grid .transition .text-content {
    display: block;
  }
  main .trending-gifos .carousel .grid .gif-grid .transition .text-content .user {
    font-size: 0px;
  }
  main .trending-gifos .carousel .grid .gif-grid .transition .text-content .titulo {
    font-size: 0px;
  }
  main .trending-gifos .carousel .right-arrow {
    width: 55px;
    height: 40px;
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 7vw;
    background-image: url(../asset/Button-Slider-right.svg);
    background-repeat: no-repeat;
  }
  main .trending-gifos .carousel .right-arrow:hover {
    background-image: url(../asset/Button-Slider-right-hover.svg);
  }
  body.dark main .trending-gifos .carousel .right-arrow {
    background-image: url(../asset/button-slider-right-md-noct.svg);
  }
  body.dark main .trending-gifos .carousel .right-arrow:hover {
    background-image: url(../asset/button-slider-right-md-noct-hover.svg);
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 116px;
  }
  footer .compartir-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .compartir-social .compartir {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 13px;
    margin-top: 0;
    margin: 0 1.18vw 0 10.83vw;
  }
  footer .compartir-social .social {
    margin-top: 0px;
  }
  footer p {
    font-size: 13px;
    margin-top: 0;
    margin-right: 10.83vw;
  }
}
/*# sourceMappingURL=favorites.css.map */