@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@mixin montserrat{font-family: 'Montserrat', sans-serif};
@mixin montserrat-dark{font-family: 'Montserrat', sans-serif; color: #ffffff};
@mixin roboto {font-family: 'Roboto', sans-serif;}
@mixin roboto-dark {font-family: 'Roboto', sans-serif; color: #ffffff};

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
    border-top: 5px solid #000000 ;
    position: relative; // para que tome desde donde comienza .site-nav (top 100%)
    :after{
        content: '';
        clear: both;
        display: block;
    }
    .gifos-logo{
        margin-left: 22px;
    }
    .menu-toggle{
        .burger{   
            margin-right: 26px;
        }   
    }   
    .site-nav{
        top: 100%; //toma que empieza despues del 100% del hieght del padre(Header)
        right: 0;
        position: absolute;
        background-color: #572EE5;
        opacity: 0.9;
        width: 100%;
        height: 0;
        overflow: hidden;
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            &:first-child{
                margin-top: 32px;
            }
            li{
                margin-top: 14px;                
            }               
            .item-menu{
                text-align: center;                    
                color: #ffffff;
                @include montserrat();
                font-size: 15px;
                font-weight: bold;
                line-height: 30px;
                display: block;                   
                text-decoration: none;
            }
            .separator-line{
            width: 41px;
            opacity: 0.5;
            border: 1px solid #FFFFFF;
            margin-top: 10px;
            }            
        }// ul MOBILE END
        .btn-more{
            display:none;
        }
    }// .site-nav MOBILE END
    .site-nav-open{        //no esta en html, está creada por JS
        height: 100vh;
    } 
}// header MOBILE END
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    .favorite{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .heart-icon{
            width: 28px;
        }
        h2{
            @include montserrat;
            font-size: 25px;
            font-weight: bold;
            color: #572EE5;
            line-height: 40px;
            margin-top: 5px;
        }
        .grid-favorites{
            margin: 46px 21px 0 21px;           
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 5.86vw;
            .gif-transition{
                .gif{
                    width: 100%;
                    height: 100%;
                }
                .transition{
                    .icon-content{
                        display: none;
                    }
                    .text-content{
                        display: none;
                    }
                }
            }
        }
        .btn-mas{
            border: 1px solid #572EE5;
            border-radius: 25px;
            margin-top: 78px;
            padding: 18px 32.5px;
            text-align: center;
            text-decoration: none;
            @include montserrat;
            font-weight: bold;
            color: #572EE5 ;
        }
    }// .favorite MOBILE END
    .trending-gifos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 430px;
        margin-top: 94px;
        background: #F3F5F8;
        overflow: hidden;
        h2{            
            @include montserrat;
            font-size: 20px;
            font-weight: bold;
            color: #572EE5;
            margin-top: 46px;
        }
        p{
            width: 200px;
            font-weight: 500;
            @include roboto;
            line-height: 23px;
            text-align: center;
            margin-top: 7px;
        }
        .carousel{
            width: 100%;
            margin-left: 22px;
            margin-top: 32px;
            .left-arrow{
                display: none;
            }
            .grid{                
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 5.86vw;
                .gif-grid{
                    .gif{
                        width: 243px;
                        height: 187px;
                    }
                    .transition{
                        .icon-content{
                            display: none;
                        }
                        .text-content{
                            display: none;
                        }
                    }
                }
            }
            .right-arrow{
                display: none;
            }
        }// .carousel MOBILE END 
    }// trending-gif MOBILE END       
}//main MOBILE END
footer{
    width: 100%;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid #572EE5;
    .compartir-social{
        .compartir{
            font-weight: 500;
            margin-top: 47px;
            @include roboto;
        }
        .social{
            display: flex;
            justify-content: space-between;
            width: 90px;
            margin-top: 23px;
        }
    }    
    p{
        font-weight: 500;
        margin-top: 47.8px;
        @include roboto;
    }
}//footer MOBILE END

/************** MEDIA QUERY 700px *************************************************/

@media screen and (min-width: 700px){
    header{
        justify-content: space-between;
        height: 90px;
        .gifos-logo{ 
            width: 59px;          
            margin-left: 10.83vw;
        }        
        .menu-toggle{
            display: none;
        }        
        .site-nav{
            width: auto;
            top: 0;
            height: auto;
            position: relative;
            background-color: transparent;
            opacity: 1;
            display: flex;      
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                &:first-child{
                    margin-top: 0;
                }              
                li{
                    margin-left: 2.77vw;
                    margin-top: 0;
                    .item-menu{
                        color: #572EE5;
                        font-size: 13px;
                        font-weight: bold;
                        line-height: 16px;
                        text-transform: uppercase; 
                    }
                }
                .separator-line{
                    display: none;
                }                               
            } 
            .btn-more{
                display:block;
                margin-left: 53px;
                margin-right: 10.83vw;
            }            
        }//.site-nav DESKTOP END             
    }// header DESKTOP END
    main{
        margin-top: 11px;
        .favorite{
            align-items: center;
            justify-content: center;
            width: 100%;
            h2{
                @include montserrat;
                font-size: 25px;
                font-weight: bold;
                color: #572EE5;
                line-height: 40px;
                margin-top: 8px;
            }
            .grid-favorites{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                column-gap: 29px;
                row-gap: 25px;
                margin: 36px 10.76vw 0 10.76vw;
                .gif-transition{
                    position: relative;
                    &:hover{
                        .transition{
                            height: 100%;
                            transition: 0.4s ease-in-out;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .icon-content{
                                margin-top: 10px;
                                transition: .3s ease;
                                display: flex;
                                justify-content: flex-end;
                                .icon{
                                    height: 32px;
                                    margin-right: 10px;
                                    transition: .3s ease;
                                }
                            }                
                            .text-content{
                                .user{
                                    color: #FFFFFF;
                                    @include roboto();
                                    font-size: 15px;
                                    font-weight: 400;
                                    text-transform:none ;
                                    margin-left: 18px;
                                    text-align: left;
                                    transition: .3s ease .1s;
                                }
                                .titulo{
                                    color: #FFFFFF;
                                    @include roboto();
                                    font-size: 16px;
                                    margin: 6px 0 51px 1.25vw;
                                    text-align: left;
                                    font-weight: 600;
                                    transition: .3s ease .1s;
                                }
                            }
                        }
                    }
                    .gif{
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                    }
                    .transition{
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 0; 
                        background: #572EE5;
                        opacity: 0.7;
                        z-index: 2;
                        .icon-content{
                            display: block;
                            .icon{
                                height: 0;
                            }
                        }
                        .text-content{
                            display: block;
                            .user{
                                font-size: 0px;
                            }
                            .titulo{
                                font-size: 0px;;
                            }
                        }
                    }// .transition DESKTOP END
                }                
            }
            .btn-mas{
                border: 1px solid #572EE5;
                border-radius: 25px;
                margin-top: 78px;
                padding: 18px 32.5px;
                text-align: center;
                text-decoration: none;
                @include montserrat;
                font-size: 13px;
                font-weight: bold;
                color: #572EE5 ;
            }
        }// .favorite DESKTOP end
        .trending-gifos{
            height: 640px;
            margin-top: 79px;
            h2{
                font-size: 25px;
                margin-top: 67px;
            }
            p{
                width: auto;
                font-size: 18px;
                margin-top: 12px;
            }
            .carousel{
                display: flex;
                align-content: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 53px;
                .left-arrow{
                    display: block;
                    margin-left: 7vw;
                }
                .grid{
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 2vw;
                    margin: 0 1.60vw 0 1.60vw;
                    .gif-grid{
                        position: relative;
                        &:hover{
                            .transition{
                                height: 100%;
                                transition: 0.4s ease-in-out;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                .icon-content{
                                    margin-top: 10px;
                                    transition: .3s ease;
                                    display: flex;
                                    justify-content: flex-end;
                                    .icon{
                                        height: 32px;
                                        margin-right: 10px;
                                        transition: .3s ease;
                                    }
                                }                
                                .text-content{
                                    .user{
                                        color: #FFFFFF;
                                        @include roboto();
                                        font-size: 15px;
                                        font-weight: 400;
                                        text-transform:none ;
                                        margin-left: 18px;
                                        text-align: left;
                                        transition: .3s ease .1s;
                                    }
                                    .titulo{
                                        color: #FFFFFF;
                                        @include roboto();
                                        font-size: 16px;
                                        margin: 6px 0 51px 1.25vw;
                                        text-align: left;
                                        font-weight: 600;
                                        transition: .3s ease .1s;
                                    }
                                }
                            }
                        }
                        .gif{
                            width: 100%;
                            height: 100%;
                            max-width: 100%;
                        }
                        .transition{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 0; 
                            background: #572EE5;
                            opacity: 0.7;
                            z-index: 2;
                            .icon-content{
                                display: block;
                                .icon{
                                    height: 0;
                                }
                            }
                            .text-content{
                                display: block;
                                .user{
                                    font-size: 0px;
                                }
                                .titulo{
                                    font-size: 0px;;
                                }
                            }
                        }// .transition DESKTOP END
                    }// .gif-grid DESKTOP END
                }// .grid DESKTOP END
                .right-arrow{
                    display: block;
                    margin-right: 7vw;
                }                
            } // .carousel DESKTOP END        
        }// .trending-gifos DESKTOP END
    }     
    footer{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        height: 116px;        
        .compartir-social{
            display: flex;
            .compartir{
                align-self: center;
                font-size: 13px;
                margin-top: 0;
                margin: 0 1.18vw 0 10.83vw;
            }
            .social{
                margin-top: 0px;
            }
        }        
        p{
            font-size: 13px;
            margin-top: 0;
            margin-right: 10.97vw;
        }
    }// footer DESKTOP END
}// @media end

