@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@mixin montserrat{font-family: 'Montserrat', sans-serif};
@mixin montserrat-dark{font-family: 'Montserrat', sans-serif; color: #ffffff};
@mixin roboto {font-family: 'Roboto', sans-serif};
@mixin roboto-dark {font-family: 'Roboto', sans-serif; color: #ffffff};

body{
    background-color: #FFFFFF;
    transition: .4s ease all; //Suaviza el pase a Dark-mode
    &.dark{
        background-color: #37383C;
    }
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
    border-top: 5px solid #572EE5 ;    
    position: relative; // para que tome desde donde comienza .site-nav (top 100%)
    transition: .4s ease all; //Suaviza pase a Dark-mode
    :after{
        content: '';
        clear: both;
        display: block;        
    }
    body.dark &{
        border-top:5px solid #000000;
    }
    .container-logo-search{
        display: flex;
        .gifos-logo{
            width: 49px;
            height: 49px;
            margin-left: 22px;
            background-image: url(../asset/gifos_logo.svg);
            background-repeat: no-repeat;
            body.dark & {
                background-image: url(../asset/gifos_logo_noc.svg);
                background-repeat: no-repeat;
            }
        }       
        .header-search{
            display: none;
        }
    }    
    .menu-toggle{
        .burger{   
            margin-right: 26px;
        }   
    }   
    .site-nav{
        top: 100%; //toma que empieza despues del 100% del hieght del padre(header)
        right: 0;
        position: absolute;
        background-color: #572EE5;
        opacity: 0.9;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .4s ease all; //Suaviza pase a Dark-mode
        body.dark &{
            background-color:#000000;
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            &:first-child{
                margin-top: 32px;
            }
            li{
                margin-top: 14px;                
            }               
            .item-menu{
                text-align: center;                    
                color: #FFFFFF;
                @include montserrat;
                font-size: 15px;
                font-weight: bold;
                line-height: 30px;
                display: block;                   
                text-decoration: none;
                cursor: pointer;
            }
            .separator-line{
            width: 41px;
            opacity: 0.5;
            border: 1px solid #FFFFFF;
            margin-top: 10px;
            }            
        }// ul MOBILE END
        .btn-create-gifos{
            display:none;
        }
    }// .site-nav MOBILE END  
    .site-nav-open{        //no esta en html, está creada por JS
        height: 100vh;
    } 
}// header MOBILE END
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7px;    
    .main-title-img-search{
        display: flex;
        flex-direction: column;
        align-items: center;
        .main-title{
            font-size: 25px;
            color: #572EE5;
            margin: 0 45px 0 45px;
            @include montserrat;
            font-weight: 700;
            text-align: center;
            line-height: 33px;
            transition: .4s ease all; //Suaviza pase a Dark-mode
            span{
                color: #50E3C2;
            }
            body.dark & {
                color: #FFFFFF;
            }
        }
        .main-img{
            margin-top: 31px;
            width: 273px;
        }
        .main-search{
            width: 334px;
            height: 50px;
            border: 1px solid #572EE5;
            border-radius: 50px;
            font-size: 16px;
            padding: 15px 64px 13px 55px;
            @include roboto;
            background-image: url(../asset/icon-search.svg);
            background-position: 294px 15px;
            background-repeat: no-repeat;
            outline: none;
            transition: .4s ease all; //Suaviza pase a Dark-mode
            body.dark & {
                border: 1px solid #FFFFFF;
                background-color: #37383C;
                background-image: url(../asset/icon-search-modo-noct.svg);
            }
        }      
    }// main-title-img MOBILE END
    .section-trending{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 31px;
        .p-trending{
            text-align: center;
            color: #572EE5;
            font-weight: 700;
            @include montserrat;
            font-size: 16px;
            transition: .4s ease all; //Suaviza pase a Dark-mode
            body.dark & {
                color: #FFFFFF;
            }
        }
        p{
            text-align: center;
            width: 225px;
            margin-top: 2px;
            font-size: 14px;
            font-weight:500;
            color: #572EE5;
            @include montserrat;
            line-height: 25px;
            transition: .4s ease all; //Suaviza pase a Dark-mode
            body.dark & {
                color: #FFFFFF;
            }
        } 
    }
    .trending-gifos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 430px;
        margin-top: 45px;
        background: #F3F5F8;
        overflow: hidden;
        transition: .4s ease all; //Suaviza pase a Dark-mode
        body.dark & {
            background-color: #222326;
        }
        h2{            
            @include montserrat;
            font-size: 20px;
            font-weight: bold;
            line-height: 30px;
            color: #572EE5;
            margin-top: 46px;
            transition: .4s ease all; //Suaviza pase a Dark-mode
            body.dark & {
                @include montserrat-dark()
            }
        }
        p{
            width: 200px;
            font-weight: 400;
            @include roboto;
            line-height: 23px;
            text-align: center;
            margin-top: 7px;
            transition: .4s ease all; //Suaviza pase a Dark-mode
            body.dark & {
                @include roboto-dark()
            }
        }
        .carousel{
            width: 100%;            
            margin-left: 22px;
            margin-top: 32px;
            .left-arrow{
                display: none;
            }
            .grid{                
                display: grid;
                width: 100%;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 5.86vw;                
                .gif-grid{
                    .gif{
                        width: 243px;
                        height: 187px;
                    }
                    .transition{
                        .icon-content{
                            display: none;
                        }
                        .text-content{
                            display: none;
                        }
                    }
                }
            }
            .right-arrow{
                display: none;
            }
        }// .carousel MOBILE END
    }// trending-gif MOBILE END      
}//main MOBILE END
footer{
    width: 100%;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid #572EE5;
    transition: .4s ease all; //Suaviza pase a Dark-mode
    body.dark & {        
        border-bottom: 5px solid #000000;
    }
    .compartir-social{
        .compartir{
            font-weight: 500;
            margin-top: 47px;
            @include roboto;
            transition: .4s ease all; //Suaviza pase a Dark-mode
            body.dark & {
                @include roboto-dark()
            }
        }
        .social{
            display: flex;
            justify-content: space-between;
            width: 90px;
            margin-top: 23px;
        }
    }    
    p{
        font-weight: 500;
        margin-top: 47.8px;
        @include roboto;
        transition: .4s ease all; //Suaviza pase a Dark-mode
        body.dark & {
            @include roboto-dark()
        }
    }
}//footer MOBILE END

/******************************* MEDIA QUERY 700px *********************************************/

@media screen and (min-width: 700px){
    header{
        position: sticky;
        z-index: 100;
        top: 0;
        background-color: #FFFFFF;        
        justify-content: space-between;
        height: 90px;        
        body.dark & {
            background-color: #37383C;
        }        
        .container-logo-search{
            display:flex;
            align-items: center;
            .gifos-logo{ 
                width: 59px;
                height: 59px;          
                margin-left: 10.83vw;
                margin-right: 8.26vw;
                background-image: url(../asset/gifos_logo.svg);
                background-repeat: no-repeat;
                body.dark & {
                    background-image: url(../asset/gifos_logo_noc.svg);
                    background-repeat: no-repeat; 
                }               
            }           
            .header-search{
                display: none;
                width: 23.19vw;
                height: 50px;
                border: 1px solid #572EE5;
                border-radius: 50px;
                font-size: calc(.2em + 1vw);
                padding: 15px 4.44vw 13px 3.82vw;
                @include roboto;
                background-image: url(../asset/icon-search.svg);
                background-position: right 5% top 50%; //Para que la lupa se responsive al input
                background-repeat: no-repeat;
                outline: none;
                transition: .4s ease all; //Suaviza pase a Dark-mode
                body.dark & {
                    border: 1px solid #FFFFFF;
                    background-color: #37383C;
                    background-image: url(../asset/icon-search-modo-noct.svg);
                }
            }
            .header-search-on {   //efecto on/off en scroll del header
                display: block;                
            }                        
        }                       
        .menu-toggle{
            display: none;
        }        
        .site-nav{
            width: auto;
            top: 0;
            height: auto;
            position: relative;
            background-color: #FFFFFF;
            opacity: 1;
            display: flex;
            body.dark & {
                background-color: #37383C;
            }      
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                &:first-child{
                    margin-top: 0;
                }              
                li{
                    margin-left: 3.47vw;
                    margin-top: 0;
                }                
                .item-menu{
                    color: #572EE5;
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 16px;
                    text-transform: uppercase;
                    transition: .4s ease all; //Suaviza pase a Dark-mode 
                    &:hover{
                        text-decoration: underline solid #5ED7C6;
                        text-decoration-thickness: 2px;
                        transition:none
                    }
                    &:active{
                        color: #9CAFC3;
                        text-decoration: none;
                        transition:none;
                    }
                    body.dark & {
                        color: #FFFFFF;
                        transition:none;                        
                        &:active{
                            color: #9CAFC3;
                            text-decoration: none;
                            transition:none;
                        }
                    }                       
                }
                .separator-line{
                    display: none;
                }                               
            } 
            .btn-create-gifos{                
                width: 54px;
                height: 54px;
                display:block;
                margin-left: 3.68vw;
                margin-right: 10.83vw;
                background-image: url(../asset/button-crear-gifo.svg);
                background-repeat: no-repeat;
                &:hover{
                    background-image: url(../asset/CTA-crear-gifo-hover.svg);
                }
                &:active{
                    background-image: url(../asset/CTA-crear-gifo-active.svg);
                }
                body.dark &{
                    background-image: url(../asset/CTA-crear-gifo-modo-noc.svg);
                    &:hover{
                        background-image: url(../asset/CTA-crear-gifo-hover-modo-noc.svg);
                    }
                    &:active{
                        background-image: url(../asset/CTA-crear-gifo-active-modo-noc.svg);
                    }
                }
            }// .btn-create-gifos DESKTOP END
            .btn-create-gifos-off{  //efecto on/off en scroll del header
                display: none;
            }
        }//.site-nav DESKTOP END
        .margin-on{  //efecto on/off en scroll del header
            margin-right: 10.83vw;
        }                     
    }// header DESKTOP END
    .header-enabled{ //Funcion de JS para efecto onscroll de header
        box-shadow: 0 2px 4px 1px #9CAFC350;
        transition: opacity .5s ease-in; 
        opacity: 1;
        }        
    .header-off { //Funcion de JS para efecto onscroll de header
        transition: opacity 1s ease-in;        
        opacity: 0;
        &:hover{
            transition: opacity .5s ease; 
            opacity: 1; 
        }
    }
    .header-shadow-off{  //efecto on/off en scroll del header
        box-shadow: none;
    }
    main{
        margin-top: 76px;
        .main-title-img-search{
            .main-title{
                width: 630px;
                margin: 0;
                font-size: 35px;
                line-height: 50px;
            }
            .main-img{
                width: 399px;
                height: 190px;
            }
            .main-search{
                width: 551px;
                height: 50px;
                background-position: 511px 15px;
                outline: none;
            }    
        }// .main-title-img DESKTOP END
        .section-trending{
            margin-top: 73px;
            .p-trending{                
                font-size: 18px;
            }
            p{
                width: auto;
                font-size: 16px;
                font-weight: 500;
                margin-top: 7px;
            }
        }
        .trending-gifos{
            height: 640px;
            margin-top: 95px;
            h2{
                font-size: 25px;
                margin-top: 67px;
            }
            p{
                width: auto;
                font-size: 18px;
                margin-top: 12px;
            }
            .carousel{
                display: flex;
                align-content: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 53px;
                .left-arrow{
                    width: 55px;
                    height: 40px;
                    display: block;
                    align-self: center;
                    margin-left: 7vw;
                    background-image: url(../asset/button-slider-left.svg);
                    background-repeat: no-repeat;
                    &:hover{
                        background-image: url(../asset/button-slider-left-hover.svg);
                    }
                    body.dark &{
                        background-image: url(../asset/button-slider-left-md-noct.svg);
                        &:hover{
                            background-image: url(../asset/button-slider-left-md-noct-hover.svg);
                        }
                    }
                }
                .grid{
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 2vw;
                    margin: 0 1.60vw 0 1.60vw;
                    .gif-grid{
                        position: relative;
                        &:hover{
                            .transition{
                                height: 100%;
                                transition: 0.4s ease-in-out;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                .icon-content{
                                    margin-top: 10px;
                                    transition: .3s ease;
                                    display: flex;
                                    justify-content: flex-end;
                                    .icon{
                                        height: 32px;
                                        margin-right: 10px;
                                        transition: .3s ease;
                                    }
                                }                
                                .text-content{
                                    .user{
                                        color: #FFFFFF;
                                        @include roboto();
                                        font-size: 15px;
                                        font-weight: 400;
                                        text-transform:none ;
                                        margin-left: 18px;
                                        text-align: left;
                                        transition: .3s ease .1s;
                                    }
                                    .titulo{
                                        color: #FFFFFF;
                                        @include roboto();
                                        font-size: 16px;
                                        margin: 6px 0 51px 1.25vw;
                                        text-align: left;
                                        font-weight: 600;
                                        transition: .3s ease .1s;
                                    }
                                }                                                               
                            }
                        }
                        .gif{
                            width: 100%;
                            height: 100%;
                            max-width: 100%;
                        }
                        .transition{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 0; 
                            background: #572EE5;
                            opacity: 0.7;
                            z-index: 2;
                            .icon-content{
                                display: block;
                                .icon{
                                    height: 0;
                                }
                            }
                            .text-content{
                                display: block;
                                .user{
                                    font-size: 0px;
                                }
                                .titulo{
                                    font-size: 0px;;
                                }
                            }                        
                        }// .transition DESKTOP END
                    }// .img-carousel DESKTOP END
                }// .grid DESKTOP END
                .right-arrow{
                    width: 55px;
                    height: 40px;
                    display: block;
                    align-self: center;
                    margin-right: 7vw;
                    background-image: url(../asset/Button-Slider-right.svg);
                    background-repeat: no-repeat;
                    &:hover{
                        background-image: url(../asset/Button-Slider-right-hover.svg);
                    }
                    body.dark & {
                        background-image: url(../asset/button-slider-right-md-noct.svg);
                        &:hover{
                            background-image: url(../asset/button-slider-right-md-noct-hover.svg);
                        }
                    }
                }                
            } // .carousel DESKTOP END           
        }// .trending-gifos DESKTOP END   
    }// main DESKTOP END
    footer{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        height: 116px;        
        .compartir-social{
            display: flex;
            .compartir{
                align-self: center;
                font-size: 13px;
                margin-top: 0;
                margin: 0 1.18vw 0 10.83vw;
            }
            .social{
                margin-top: 0px;
            }
        }        
        p{
            font-size: 13px;
            margin-top: 0;
            margin-right: 10.83vw;
        }
    }// footer DESKTOP END
}// @media DESKTOP END
