/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

button {
  padding: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
   :focus {
       outline: ?????;
   } */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.trending {
  margin-top: 79px;
  background-color: #F3F5F8;
  padding-bottom: 82px;
}

.trending h2 {
  padding-top: 44px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #572EE5;
  font-size: 20px;
  line-height: 30px;
}

.trending .trending-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  padding: 9px 100px;
}

.slider-prev {
  display: none;
}

.slider-next {
  display: none;
}

.trending-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 23px auto 0 auto;
  max-width: 900px;
  width: 100%;
  height: 187px;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.gif-contenedor {
  width: 100%;
  height: 100%;
  margin: 0 20px;
  scroll-snap-align: center;
}

.gif-acciones {
  display: none;
}

.trending-gif {
  width: 243px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 699px) {
  .trending-slider-contenedor {
    margin: 53px 50px 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-prev {
    display: block;
    border: 1px solid #572EE5;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-prev .prev-blanco {
    display: none;
    width: 8px;
  }
  .slider-prev:hover {
    background-color: #572EE5;
  }
  .slider-prev:hover .prev-violeta {
    display: none;
  }
  .slider-prev:hover .prev-blanco {
    display: block;
  }
  .slider-next {
    display: block;
    border: 1px solid #572EE5;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider-next .next-blanco {
    display: none;
    width: 8px;
  }
  .slider-next:hover {
    background-color: #572EE5;
  }
  .slider-next:hover .next-violeta {
    display: none;
  }
  .slider-next:hover .next-blanco {
    display: block;
  }
  .trending-slider-box {
    overflow-x: hidden;
    width: 795px;
  }
  .trending-slider {
    overflow-x: hidden;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin: 0;
    padding: 0;
    width: 3080px;
    max-width: 3080px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .gif-contenedor {
    margin: 0 15px;
    width: 243px;
    height: 187px;
  }
  .gif-contenedor:first-child {
    margin-left: 0;
  }
  .gif-acciones {
    position: absolute;
    z-index: 0;
    background-color: #572ee599;
    width: 243px;
    height: 187px;
  }
  .iconos-acciones-gif {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .iconos-acciones-box {
    width: 32px;
    height: 32px;
    background-color: #ffffffb3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border-radius: 6px;
    border: none;
  }
  .favorito {
    cursor: pointer;
  }
  .download {
    margin-left: 10px;
    cursor: pointer;
  }
  .max {
    margin-left: 10px;
    cursor: pointer;
  }
  .iconos-acciones-box:hover {
    background-color: #FFFFFF;
  }
  .textos-descripcion-gif {
    text-align: left;
    position: absolute;
    bottom: 20px;
    left: 10px;
  }
  .user-gif {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    padding: 0 10px 0 0;
    margin-bottom: 6px;
  }
  .titulo-gif {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    padding: 0 10px 0 0;
    margin: 0;
  }
  .gif-contenedor:hover .gif-acciones {
    display: block;
  }
}

@media screen and (min-width: 700px) {
  .trending {
    padding: 0;
  }
  .trending h2 {
    padding-top: 78px;
    font-size: 30px;
  }
  .trending .trending-text {
    font-size: 18px;
    padding: 14px 0 0 0;
  }
  .trending-slider-contenedor {
    margin: 53px 94px 0 94px;
    padding-bottom: 182px;
  }
  .trending-slider-box {
    width: 1133px;
  }
  .trending-slider {
    height: 275px;
  }
  .gif-contenedor {
    width: 357px;
    height: 275px;
  }
  .gif-acciones {
    width: 357px;
    height: 275px;
  }
  .textos-descripcion-gif {
    bottom: 51px;
    left: 18.5px;
  }
  .trending-gif {
    width: 357px;
  }
}

.modal-activado {
  position: fixed;
  padding: 0 20px;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #FFFFFF;
}

.modal-activado .modal-btn-close {
  background-color: unset;
  border: 0;
  position: absolute;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  top: 50px;
  right: 30px;
}

.modal-activado .modal-btn-close:active {
  border: 1px solid #9CAFC3;
}

.modal-activado .modal-gif {
  width: 100%;
  margin-top: 124px;
}

.modal-activado .modal-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 17px 0;
}

.modal-activado .modal-bar .modal-textos {
  max-width: 65%;
}

.modal-activado .modal-bar .modal-textos .modal-user {
  text-align: left;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  margin: 0;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

.modal-activado .modal-bar .modal-textos .modal-titulo {
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-top: 6px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.modal-activado .modal-bar .modal-btn {
  background-color: unset;
  border: 1px solid #9CAFC350;
  margin-left: 20px;
  border-radius: 6px;
  width: 36px;
  height: 36px;
}

.modal-activado .modal-bar .modal-btn:active {
  border: 1px solid #9CAFC3;
}

@media screen and (min-width: 700px) {
  .modal-activado {
    padding: unset;
    text-align: center;
  }
  .modal-btn-close {
    top: 50px;
    right: 150px !important;
    cursor: pointer;
  }
  .modal-btn-close:hover {
    border: 1px solid #9CAFC3;
  }
  .modal-btn-close:active {
    border: none;
  }
  .modal-gif {
    max-width: 500px;
    margin-top: 160px;
  }
  .modal-bar {
    margin: 27px auto !important;
    max-width: 600px;
    position: relative;
  }
  .modal-bar .modal-textos {
    max-width: 80%;
  }
  .modal-bar .modal-btn {
    cursor: pointer;
  }
  .modal-bar .modal-btn:hover {
    background-color: #FFFFFF;
    border: 1px solid #9CAFC3;
  }
  .modal-bar .modal-btn:active {
    border: none;
  }
}

body {
  background-color: #FFFFFF;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark {
  background-color: #37383C;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 95px;
  border-top: 5px solid #572EE5;
  position: relative;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

header :after {
  content: '';
  clear: both;
  display: block;
}

body.dark header {
  border-top: 5px solid #000000;
}

header .container-logo-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container-logo-search .gifos-logo {
  width: 49px;
  height: 49px;
  margin-left: 22px;
  background-image: url(../asset/gifos_logo.svg);
  background-repeat: no-repeat;
}

body.dark header .container-logo-search .gifos-logo {
  background-image: url(../asset/gifos_logo_noc.svg);
  background-repeat: no-repeat;
}

header .container-logo-search .header-search {
  display: none;
}

header .menu-toggle .burger {
  margin-right: 26px;
}

header .site-nav {
  top: 100%;
  right: 0;
  position: absolute;
  background-color: #572EE5;
  opacity: 0.9;
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark header .site-nav {
  background-color: #000000;
}

header .site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header .site-nav ul:first-child {
  margin-top: 32px;
}

header .site-nav ul li {
  margin-top: 14px;
}

header .site-nav ul .item-menu {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

header .site-nav ul .separator-line {
  width: 41px;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  margin-top: 10px;
}

header .site-nav .btn-create-gifos {
  display: none;
}

header .site-nav-open {
  height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
}

main .main-title-img-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-title-img-search .main-title {
  font-size: 25px;
  color: #572EE5;
  margin: 0 45px 0 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 33px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

main .main-title-img-search .main-title span {
  color: #50E3C2;
}

body.dark main .main-title-img-search .main-title {
  color: #FFFFFF;
}

main .main-title-img-search .main-img {
  margin-top: 31px;
  width: 72.8vw;
}

main .main-title-img-search .div-main-search-inactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 89.06vw;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 50px;
}

body.dark main .main-title-img-search .div-main-search-inactive {
  border: 1px solid #FFFFFF;
}

main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .div-align-self-lupa-search .img-lupa-gris {
  display: none;
}

main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .div-align-self-lupa-search .input-search {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-left: 14.74vw;
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .btn-search {
  margin-right: 5.33vw;
  border: none;
  outline: none;
  background-color: transparent;
}

main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .btn-search .btn-img-lupa {
  display: block;
  cursor: pointer;
}

main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .btn-search .btn-img-x {
  display: none;
}

main .main-title-img-search .div-main-search-inactive .ul-suggestions {
  display: none;
}

main .main-title-img-search .div-main-search-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 89.06vw;
  border: 1px solid #572EE5;
  border-radius: 25px;
}

body.dark main .main-title-img-search .div-main-search-active {
  border: 1px solid #FFFFFF;
}

main .main-title-img-search .div-main-search-active .div-lupa-search-lupa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
}

main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .div-align-self-lupa-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .div-align-self-lupa-search .img-lupa-gris {
  display: block;
  margin-left: 6.13vw;
  width: 20px;
}

main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .div-align-self-lupa-search .input-search {
  font-size: 16px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  margin-left: 3.47vw;
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .div-align-self-lupa-search .input-search {
  color: #FFFFFF;
}

main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .btn-search {
  margin-right: 6.13vw;
  border: none;
  outline: none;
  background-color: transparent;
}

main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .btn-search .btn-img-lupa {
  display: none;
}

main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .btn-search .btn-img-x {
  display: block;
  cursor: pointer;
}

body.dark main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .btn-search .btn-img-x {
  color: #FFFFFF;
}

main .main-title-img-search .div-main-search-active .separator-line {
  height: 1px;
  margin: 0 6.13vw 0 6.13vw;
  background-color: #9CAFC3;
}

main .main-title-img-search .div-main-search-active .ul-suggestions {
  display: block;
  margin-top: 15px;
  margin-bottom: 8px;
}

main .main-title-img-search .div-main-search-active .ul-suggestions .li-suggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

main .main-title-img-search .div-main-search-active .ul-suggestions .li-suggestions .img-suggestions {
  width: 16px;
  margin-left: 6.13vw;
}

main .main-title-img-search .div-main-search-active .ul-suggestions .li-suggestions .text-suggestions {
  color: #9CAFC3;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-left: 3.73vw;
  cursor: pointer;
}

main .section-trending {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 31px;
}

main .section-trending h3 {
  text-align: center;
  color: #572EE5;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .section-trending h3 {
  color: #FFFFFF;
}

main .section-trending .trending-topics {
  text-align: center;
  width: 225px;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 500;
  color: #572EE5;
  font-family: 'Montserrat', sans-serif;
  line-height: 25px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .section-trending .trending-topics {
  color: #FFFFFF;
}

main .section-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 430px;
  margin-top: 45px;
  background: #F3F5F8;
  overflow: hidden;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .section-carousel {
  background-color: #222326;
}

main .section-carousel h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #572EE5;
  margin-top: 46px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .section-carousel h2 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

main .section-carousel p {
  width: 200px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 23px;
  text-align: center;
  margin-top: 7px;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark main .section-carousel p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

main .section-carousel .carousel {
  width: 100%;
  margin-left: 22px;
  margin-top: 32px;
}

main .section-carousel .carousel .left-arrow {
  display: none;
}

main .section-carousel .carousel .grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 5.86vw;
}

main .section-carousel .carousel .grid .gif-grid .gif {
  width: 243px;
  height: 187px;
}

main .section-carousel .carousel .grid .gif-grid .transition .icon-content {
  display: none;
}

main .section-carousel .carousel .grid .gif-grid .transition .text-content {
  display: none;
}

main .section-carousel .carousel .right-arrow {
  display: none;
}

footer {
  width: 100%;
  height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 5px solid #572EE5;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark footer {
  border-bottom: 5px solid #000000;
}

footer .compartir-social .compartir {
  font-weight: 500;
  margin-top: 47px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark footer .compartir-social .compartir {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

footer .compartir-social .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
  margin-top: 23px;
}

footer p {
  font-weight: 500;
  margin-top: 47.8px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

body.dark footer p {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.trending-topics-link {
  cursor: pointer;
}

.results-search-container {
  display: none;
  position: relative;
  margin-top: 35px;
  text-align: center;
}

.results-search-container::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 1;
  left: calc(50% - 78.5px);
  width: 157px;
  border-bottom: 1px solid #9CAFC3;
  opacity: 0.5;
}

.title-search {
  text-transform: capitalize;
  position: relative;
  padding-top: 43px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #572EE5;
  font-size: 25px;
  line-height: 40px;
}

body.dark .title-search {
  color: #FFFFFF;
}

.results-search {
  margin: 38px 10px 53px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results-gif-box {
  width: 156px;
  height: 120px;
  overflow: hidden;
  margin: 0 10px 25px 10px;
}

.gif-actions-results {
  display: none;
}

.results-gif {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.btn-mas {
  border: 1px solid #572EE5;
  border-radius: 50px;
  margin-top: 78px;
  padding: 18px 32.5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #572EE5;
  background-color: unset;
  cursor: pointer;
}

body.dark .btn-mas {
  border: 1px solid #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  color: #FFFFFF;
}

body.dark .btn-mas:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.search-error-container {
  margin-top: 40px;
}

.search-error-img {
  width: 120px;
}

.search-error-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #50E3C2;
  font-size: 18px;
  line-height: 28px;
}

/******************************* MEDIA QUERY 700px *********************************************/
@media screen and (min-width: 700px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #FFFFFF;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 90px;
  }
  body.dark header {
    background-color: #37383C;
  }
  header .container-logo-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container-logo-search .gifos-logo {
    width: 59px;
    height: 59px;
    margin-left: 10.83vw;
    margin-right: 8.26vw;
    background-image: url(../asset/gifos_logo.svg);
    background-repeat: no-repeat;
  }
  header .container-logo-search .gifos-logo:hover {
    background-image: url(../asset/gifos_logo_hover.svg);
  }
  body.dark header .container-logo-search .gifos-logo {
    background-image: url(../asset/gifos_logo_noc.svg);
    background-repeat: no-repeat;
  }
  body.dark header .container-logo-search .gifos-logo:hover {
    background-image: url(../asset/gifos_logo_noc_hover.svg);
  }
  header .container-logo-search .header-search {
    display: none;
    width: 23.19vw;
    height: 50px;
    border: 1px solid #572EE5;
    border-radius: 50px;
    font-size: calc(.2em + 1vw);
    padding: 15px 4.44vw 13px 3.82vw;
    font-family: 'Roboto', sans-serif;
    background-image: url(../asset/icon-search.svg);
    background-position: right 5% top 50%;
    background-repeat: no-repeat;
    outline: none;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
  }
  body.dark header .container-logo-search .header-search {
    border: 1px solid #FFFFFF;
    background-color: #37383C;
    background-image: url(../asset/icon-search-modo-noct.svg);
  }
  header .container-logo-search .header-search-on {
    display: block;
  }
  header .menu-toggle {
    display: none;
  }
  header .site-nav {
    width: auto;
    top: 0;
    height: auto;
    position: relative;
    background-color: #FFFFFF;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body.dark header .site-nav {
    background-color: #37383C;
  }
  header .site-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header .site-nav ul:first-child {
    margin-top: 0;
  }
  header .site-nav ul li {
    margin-left: 3.47vw;
    margin-top: 0;
  }
  header .site-nav ul .item-menu {
    color: #572EE5;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
  }
  header .site-nav ul .item-menu:hover {
    -webkit-text-decoration: underline solid #5ED7C6;
            text-decoration: underline solid #5ED7C6;
    text-decoration-thickness: 2px;
    -webkit-transition: none;
    transition: none;
  }
  header .site-nav ul .item-menu:active {
    color: #9CAFC3;
    text-decoration: none;
    -webkit-transition: none;
    transition: none;
  }
  body.dark header .site-nav ul .item-menu {
    color: #FFFFFF;
    -webkit-transition: none;
    transition: none;
  }
  body.dark header .site-nav ul .item-menu:active {
    color: #9CAFC3;
    text-decoration: none;
    -webkit-transition: none;
    transition: none;
  }
  header .site-nav ul .separator-line {
    display: none;
  }
  header .site-nav .btn-create-gifos {
    width: 54px;
    height: 54px;
    display: block;
    margin-left: 3.68vw;
    margin-right: 10.83vw;
    background-image: url(../asset/button-crear-gifo.svg);
    background-repeat: no-repeat;
  }
  header .site-nav .btn-create-gifos:hover {
    background-image: url(../asset/CTA-crear-gifo-hover.svg);
  }
  header .site-nav .btn-create-gifos:active {
    background-image: url(../asset/CTA-crear-gifo-active.svg);
  }
  body.dark header .site-nav .btn-create-gifos {
    background-image: url(../asset/CTA-crear-gifo-modo-noc.svg);
  }
  body.dark header .site-nav .btn-create-gifos:hover {
    background-image: url(../asset/CTA-crear-gifo-hover-modo-noc.svg);
  }
  body.dark header .site-nav .btn-create-gifos:active {
    background-image: url(../asset/CTA-crear-gifo-active-modo-noc.svg);
  }
  header .site-nav .btn-create-gifos-off {
    display: none;
  }
  header .margin-on {
    margin-right: 10.83vw;
  }
  .header-enabled {
    -webkit-box-shadow: 0 2px 4px 1px #9CAFC350;
            box-shadow: 0 2px 4px 1px #9CAFC350;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
    opacity: 1;
  }
  .header-off {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    opacity: 0;
  }
  .header-off:hover {
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    opacity: 1;
  }
  .header-shadow-off {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  main {
    margin-top: 76px;
    /* .section-carousel{
            height: 640px;
            margin-top: 137px;
            h2{
                font-size: 25px;
                margin-top: 67px;
            }
            p{
                width: auto;
                font-size: 18px;
                margin-top: 12px;
            }
            .carousel{
                display: flex;
                align-content: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 53px;
                .left-arrow{
                    width: 55px;
                    height: 40px;
                    display: block;
                    align-self: center;
                    margin-left: 7vw;
                    background-image: url(../asset/button-slider-left.svg);
                    background-repeat: no-repeat;
                    &:hover{
                        background-image: url(../asset/button-slider-left-hover.svg);
                    }
                    body.dark &{
                        background-image: url(../asset/button-slider-left-md-noct.svg);
                        &:hover{
                            background-image: url(../asset/button-slider-left-md-noct-hover.svg);
                        }
                    }
                }
                .grid{
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 2vw;
                    margin: 0 1.60vw 0 1.60vw;
                    .gif-grid{
                        position: relative;
                        &:hover{
                            .transition{
                                height: 100%;
                                transition: 0.4s ease-in-out;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                .icon-content{
                                    margin-top: 10px;
                                    transition: .3s ease;
                                    display: flex;
                                    justify-content: flex-end;
                                    .icon{
                                        height: 32px;
                                        margin-right: 10px;
                                        transition: .3s ease;
                                    }
                                }                
                                .text-content{
                                    .user{
                                        color: #FFFFFF;
                                        @include roboto();
                                        font-size: 15px;
                                        font-weight: 400;
                                        text-transform:none ;
                                        margin-left: 18px;
                                        text-align: left;
                                        transition: .3s ease .1s;
                                    }
                                    .titulo{
                                        color: #FFFFFF;
                                        @include roboto();
                                        font-size: 16px;
                                        margin: 6px 0 51px 1.25vw;
                                        text-align: left;
                                        font-weight: 600;
                                        transition: .3s ease .1s;
                                    }
                                }
                            }
                        }
                        .gif{
                            width: 100%;
                            height: 100%;
                            max-width: 100%;
                        }
                        .transition{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 0; 
                            background: #572EE5;
                            opacity: 0.7;
                            z-index: 2;
                            .icon-content{
                                display: block;
                                .icon{
                                    height: 0;
                                }
                            }
                            .text-content{
                                display: block;
                                .user{
                                    font-size: 0px;
                                }
                                .titulo{
                                    font-size: 0px;;
                                }
                            }
                        }// .transition DESKTOP END
                    }// .gif-grid DESKTOP END
                }// .grid DESKTOP END
                .right-arrow{
                    width: 55px;
                    height: 40px;
                    display: block;
                    align-self: center;
                    margin-right: 7vw;
                    background-image: url(../asset/Button-Slider-right.svg);
                    background-repeat: no-repeat;
                    &:hover{
                        background-image: url(../asset/Button-Slider-right-hover.svg);
                    }
                    body.dark & {
                        background-image: url(../asset/button-slider-right-md-noct.svg);
                        &:hover{
                            background-image: url(../asset/button-slider-right-md-noct-hover.svg);
                        }
                    }
                }                
            } // .carousel DESKTOP END        
        }// .section-carousel DESKTOP END   */
  }
  main .main-title-img-search .main-title {
    width: 630px;
    margin: 0;
    font-size: 35px;
    line-height: 50px;
  }
  main .main-title-img-search .main-img {
    width: 27.71vw;
  }
  main .main-title-img-search .div-main-search-inactive {
    width: 38.26vw;
    height: 50px;
  }
  main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .div-align-self-lupa-search .img-lupa-gris {
    display: none;
  }
  main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .div-align-self-lupa-search .input-search {
    margin-left: 3.75vw;
  }
  body.dark main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .div-align-self-lupa-search .input-search {
    color: #FFFFFF;
  }
  main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .btn-search {
    margin-right: 1.39vw;
  }
  main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .btn-search .btn-img-lupa {
    display: block;
  }
  body.dark main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .btn-search .btn-img-lupa {
    color: #FFFFFF;
  }
  main .main-title-img-search .div-main-search-inactive .div-lupa-search-lupa .btn-search .btn-img-x {
    display: none;
  }
  main .main-title-img-search .div-main-search-active {
    width: 38.26vw;
  }
  main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .div-align-self-lupa-search {
    cursor: pointer;
  }
  main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .div-align-self-lupa-search .img-lupa-gris {
    margin-left: 1.39vw;
    display: block;
  }
  main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .div-align-self-lupa-search .input-search {
    margin-left: .76vw;
  }
  main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .btn-search {
    margin-right: 1.39vw;
  }
  main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .btn-search .btn-img-lupa {
    display: none;
  }
  main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .btn-search .btn-img-x {
    display: block;
    cursor: pointer;
  }
  body.dark main .main-title-img-search .div-main-search-active .div-lupa-search-lupa .btn-search .btn-img-x {
    color: #FFFFFF;
  }
  main .main-title-img-search .div-main-search-active .separator-line {
    height: 1px;
    margin: 0 1.39vw 0 1.39vw;
    background-color: #9CAFC3;
  }
  main .main-title-img-search .div-main-search-active .ul-suggestions {
    display: block;
    margin-top: 15px;
    margin-bottom: 8px;
  }
  main .main-title-img-search .div-main-search-active .ul-suggestions .li-suggestions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  main .main-title-img-search .div-main-search-active .ul-suggestions .li-suggestions .img-suggestions {
    width: 16px;
    margin-left: 1.52vw;
  }
  main .main-title-img-search .div-main-search-active .ul-suggestions .li-suggestions .text-suggestions {
    color: #9CAFC3;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-left: .97vw;
  }
  main .section-trending {
    margin-top: 73px;
  }
  main .section-trending .trending-topics {
    width: auto;
    font-size: 18px;
    font-weight: 500;
    margin-top: 7px;
  }
  main .results-search {
    margin: 38px 10px 53px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .results-gif-box {
    width: 220px;
    height: 200px;
    margin: 0 10px 25px 10px;
  }
  main .results-gif-box:hover {
    display: block;
  }
  main .results-gif-box:hover .gif-actions-results {
    display: block;
  }
  main .gif-actions-results {
    position: absolute;
    z-index: 0;
    background-color: #572EE560;
    width: 220px;
    height: 200px;
  }
  main .icons-actions-gif {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  main .icons-actions-box {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF60;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border-radius: 6px;
    border: none;
  }
  main .icons-actions-box:hover {
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 1px 3px #000000;
            box-shadow: 1px 1px 3px #000000;
  }
  main .favorite {
    cursor: pointer;
  }
  main .download {
    margin-left: 10px;
    cursor: pointer;
  }
  main .max {
    margin-left: 10px;
    cursor: pointer;
  }
  main .text-description-gif-results {
    position: absolute;
    bottom: 30px;
    left: 18px;
  }
  main .user-gif-results {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 18px;
    padding: 0;
    margin-bottom: 6px;
  }
  main .title-gif-results {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }
  main .btn-mas {
    border: 1px solid #572EE5;
  }
  main .btn-mas:hover {
    background-color: #572EE5;
    color: #FFFFFF;
    -webkit-box-shadow: 2px 2px 2px grey;
            box-shadow: 2px 2px 2px grey;
  }
  main .btn-mas:active {
    background-color: #c2c0c0;
    color: #FFFFFF;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 116px;
  }
  footer .compartir-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .compartir-social .compartir {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 13px;
    margin-top: 0;
    margin: 0 1.18vw 0 10.83vw;
  }
  footer .compartir-social .social {
    margin-top: 0px;
  }
  footer p {
    font-size: 13px;
    margin-top: 0;
    margin-right: 10.83vw;
  }
}
/*# sourceMappingURL=index.css.map */